<!DOCTYPE html>
<title>{% block title %} Contact {% endblock %} - Flask Contact Form </title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">

<div class="home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Flask mail form</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/contact">
                  Contact
              </a>
          </ul>
        </div>
      </nav>
    {% block content %}
    {% endblock %}
</div>